<h4>Shuffling</h4>
<p>
  Q#1: 'a'<br>
  A#1: {{ shuffle('a') }}<br>
  Q#2: 'ab'<br>
  A#2: {{ shuffle('ab') }}<br>
  Q#3: 'abc'<br>
  A#3: {{ shuffle('abc') }}<br>
  Q#4: 'aabb'<br>
  A#4: {{ shuffle('aabb') }}<br>
</p>
<h4>Find the Odd int</h4>
<p>
  Q#1: [7]<br>
  A#1: {{ findOdd([7]) }}<br>
  Q#2: [0]<br>
  A#2: {{ findOdd([0]) }}<br>
  Q#3: [1,1,2]<br>
  A#3: {{ findOdd([1,1,2]) }}<br>
  Q#4: [0,1,0,1,2]<br>
  A#4: {{ findOdd([0,1,0,1,2]) }}<br>
  Q#5: [1,2,2,3,3,3,4,3,3,3,2,2,1]<br>
  A#5: {{ findOdd([1,2,2,3,3,3,4,3,3,3,2,2,1]) }}
</p>
<h4>Count the smiley faces</h4>
<p>
  Q#1: [':)', ';(', ';}', ':-D']<br>
  A#1: {{ countSmileys([':)', ';(', ';}', ':-D']) }}<br>
  Q#2: [';D', ':-(', ':-)', ';~)']<br>
  A#2: {{ countSmileys([';D', ':-(', ':-)', ';~)']) }}<br>
  Q#3: [';]', ':[', ';*', ':$', ';-D']<br>
  A#3: {{ countSmileys([';]', ':[', ';*', ':$', ';-D']) }}
</p>